
<header class="header">
    <img src="../../../assets/metro-logo.svg" alt="" width="100px" />

    <!-- ========= icons container =========== -->
    <div class="icons-container">
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        aria-hidden="false"
      >
        notifications
      </mat-icon>

      <!-- <mat-icon
          class="icon"
          matBadge="15"
          matBadgeColor="warn"
          [matBadgeHidden]="hidden"
          (click)="toggleBadgeVisibility()"
          > chat </mat-icon> -->

      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        aria-hidden="false"
      >
        chat
      </mat-icon>
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        aria-hidden="false"
      >
        group
      </mat-icon>
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        aria-hidden="false"
      >
        insert_chart
      </mat-icon>
    </div>
  </header>

