<div class="dashboard-page">
  <!-- =========== header ============= -->

  <header class="header">
    <img src="../../../assets/metro-logo.svg" alt="" width="100px" />

    <!-- ========= icons container =========== -->
    <div class="icons-container">
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        color="warn"
      >
        notifications
      </mat-icon>

      <!-- <mat-icon
          class="icon"
          matBadge="15"
          matBadgeColor="warn"
          [matBadgeHidden]="hidden"
          (click)="toggleBadgeVisibility()"
          > chat </mat-icon> -->

      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        color="warn"
      >
        chat
      </mat-icon>
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
      >
        group
      </mat-icon>
      <mat-icon
        class="icon"
        matBadge="15"
        matBadgeColor="warn"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
      >
        insert_chart
      </mat-icon>
    </div>
  </header>

  <!--  ============= sidebar =========== -->
  <section class="sidebar">
    <mat-card class="dashboard-sidebar">
      <mat-card-content>Dashboard</mat-card-content>

      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Reports </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Monitoring </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Configuration </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </section>

  <!-- ========= Main ========== -->
  <main class="main">
    <nav class="dashboard-navbar">
      <h3>dashboard projects</h3>
      <ul class="dashboard-navbar-items">
        <li>Revenue</li>
        <li>Traffic</li>
        <li>Transaction</li>
        <li>Stock</li>
      </ul>
    </nav>

    <div class="content">
      <!-- ============= Chart-cards ============= -->

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</div>
