<div class="dashboard-page">
  <!-- =========== header ============= -->

  <app-navbar class="header"></app-navbar>

  <!--  ============= sidebar =========== -->

  <app-sidebar class="sidebar"></app-sidebar>
  <!-- ========= Main ========== -->
  <main class="main">
    <nav class="dashboard-navbar">
      <h3>dashboard projects</h3>
      <ul class="dashboard-navbar-items">
        <li class="navbar-item">Revenue</li>
        <li class="navbar-item">Traffic</li>
        <li class="navbar-item">Transaction</li>
        <li class="navbar-item">Stock</li>
      </ul>
    </nav>

    <div class="content">
      <!-- ============= Chart-cards ============= -->

      <mat-card class="graph-card">
        <mat-card-content class="graph-card-details">
          <p class="graph-title">In Work</p>
          <p class="graph-number">9</p>
          <p class="graph-description">projects</p>
        </mat-card-content>

        <mat-card-content class="graph-card-chart">
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content>
          <app-barchart></app-barchart>
        </mat-card-content>
      </mat-card>

      <mat-card class="graph-card">
        <mat-card-content>
          <p>In Work</p>
          <p>9</p>
          <p>projects</p>
        </mat-card-content>

        <mat-card-content class="pie-chart">
          <app-piechart></app-piechart>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</div>
